{% extends "base.html" %}

{% block content %}

{% if orders %}
<center><h2>Mis compras 🛍</h2></center>
<hr>
{% for order in orders %}
<div class="col-md-7 mb-4 border rounded p-3 mx-auto">
<!-- order id on right -->
<b style="float: right;">Orden No.: {{ order.id }}</b>
<!-- order payment status -->
{% if order.status %}
    <h4><b class="text-success ">Entregado</b></h4>
{% else %}
    <h3><b class="text-danger">Cancelado</b></h3>
{% endif %}
<div class="text-muted border-top pt-2"></div>
{% for item in order.items.all  %}
    <div class="border-bottom p-2">
        <p>Producto: <a class="text-decoration-none" href="{{ item.product.get_absolute_url }}">{{item.product.title}}</a></p>
        <p class="fw-bold">Precio c/u: ${{item.price}}</p>
        <p>Cantidad: {{item.quantity}}</p>
    </div>
{% endfor %}
<b>Precio total: ${{ order.get_total_price }}</b>
</div>
{% endfor %}
{% else %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-5 pt-5 text-center">
      <br>
      <h2 class="text-white text-capitalize">Aun no tienes compras hechas!</h2>
      <a href="/" class="text-primary text-decoration-none fw-bold">Volver a la tienda</a>
    </div>
    <div class="col-md-2"></div>
</div>
{% endif %}

{% endblock %}