{% extends 'base.html' %}
{% block content %}
{% if products %}
<center><h2>Favoritos ❤</h2></center>
<hr>
{% for product in products %}
<div class="card me-2 mb-2" style="width: 16rem; background-color: #292d36;">
  <img style="object-fit: cover;" class="card-img mt-2" width="268" height="200" src="{{ product.image.url }}">
  <div class="mt-3 text-center">
    <h5 class="card-title" style="color: white;">{{ product.title }}</h5>
    <p style="color: black;">Precio: ${{ product.price }}</p>
    <a href="{{ product.get_absolute_url }}" class="mb-3 btn btn-primary w-100">Comprar ahora!</a>
  </div>
  <a href="{% url 'shop:remove_from_favorites' product.id %}" class="mb-3 btn btn-outline-danger">Eliminar de favoritos 💔</a>
</div>
{% endfor %}
{% else %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 mt-5 pt-5 text-center">
    <br>
    <h3 class="text-muted text-capitalize">Tu lista de favoritos esta vacia!</h3>
    <a href="/" class="text-primary text-decoration-none">Volver a la tienda</a>
  </div>
  <div class="col-md-2"></div>
</div>
{% endif %}
{% endblock %}